.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.link {
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: .5rem 0;
    background-color: silver;
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
}

.head {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    gap: 2rem;
}

.backButton {
    height: 40px;
    width: 100px;
    font-weight: bold;
}

.backButton:hover {
    cursor: pointer;
}

.title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.name {
    margin: 0;
    font-size: 3rem;
}

.flag {

}

.info {
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.newsBoxes {
    margin: 2rem 3rem;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}